body{
    background: black;
}
.jumbotron{
    height: 40rem;
}
#jumbo-left{
    
    float: left;
    width: 50%;
    height: 27rem;
   
}

#jumbo-right{
    
    float: right;
    width: 50%;
    height: 20rem;
    padding-left: 3rem;
   
}
#iframe{
    
    width: 100%;
    height: 100%;
    
}
#iframe-text{
  
  padding: 4rem 0rem 0rem 0rem;
}
#bio{
    width: 1.5rem;
    padding-left: 
    
}
